@font-face {
    font-family: futura;
    src: url(../../fonts/futura\ medium\ bt.ttf);
}
*{
    font-family: futura;
    letter-spacing: 3px;
    box-sizing: border-box;
}
@keyframes slideUp {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}