main{
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    padding: 0 50px;
    width: 1100px;
}
.product-grid{
    margin-top: 16px;
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 30px;
}
.product-card{
    text-decoration:none;
}
.product-card:hover .product-title{
    text-decoration:underline;
}
.product-img{
    width: 245px;
    height: 306px;
    object-fit:fill;
    border-radius: 8px;
}
.card-info{
    padding: 1.2rem 0;
}
.product-title{
    text-decoration:none;
    color: black;
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-price{
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.7;
}