main{
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    padding: 0 50px;
    width: 1100px;
}
.product-grid{
    margin-top: 16px;
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    row-gap: 30px;
    column-gap: 30px;
}
.product-card{
    text-decoration:none;
    overflow: hidden;
}
.product-card:hover .product-title{
    text-decoration:underline;
}
.product-img-container{
    border-radius: 8px;
    overflow: hidden;
}
@keyframes scale {
    from {transform:scale(1);}
    to {transform:scale(1.2);}
}
.product-img-after-animation{
    transform:scale(1.2)
}
.product-img-animation{
    animation-name: scale;
    animation-duration: 0.2s;
}
.product-img{
    width: 245px;
    height: 306px;
    object-fit:fill;
    border-radius: 8px;
}
.card-info{
    padding: 1.2rem 0;
}
.product-title{
    text-decoration:none;
    color: black;
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.stars-container{
    display: flex;
    align-items: center;

}
.product-stars{
    height: 25px;
    width: 104px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.product-price{
    color: rgba(0, 0, 0, 0.398);
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.7;
    text-decoration: line-through;
    margin-right: 40px;
    letter-spacing: normal;
}
.sale-product-price{
    letter-spacing: normal;
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.7;
}
